{% load static i18n %}
{% load i18n %}
{% load static %}

{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% get_language_info_list for LANGUAGES as languages %}

<header id="header">
    <a href="{% url 'main' %}" class="logo">
        <img class="logo-img" src="{% static 'img/logo.png' %}" alt="">
        <p class="logo-txt">I am Water</p>
    </a>
    <nav>
        <div class="nav-list">
            <a href="{% url 'main' %}" class="nav-element nav-main">{% trans 'Main' %}</a>

            <a href="{% url 'slides' %}" class="nav-element nav-slides nav-element-full">{% trans 'Famous water places' %}</a>
            <a href="{% url 'slides' %}" class="nav-element nav-slides-short nav-element-short">{% trans 'FWP' %}</a>

            <a href="{% url 'news' %}" class="nav-element nav-goal">{% trans 'News' %}</a>
                        
            <a href="{% url 'shop' %}" class="nav-element nav-shop">{% trans 'Shop' %}</a>
        </div> 

        <form action="{% url 'set_language' %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ redirect_to }}">
    
            <div class="languages">
                <button type="submit" name="language" value="en"
                    class="language {% if LANGUAGE_CODE == 'en' %}nav-current{% endif %} language">
                    EN
                </button>
    
                <button type="submit" name="language" value="uk"
                    class="language {% if LANGUAGE_CODE == 'uk' %}nav-current{% endif %} language">
                    UA
                </button>
            </div>
        </form>   
    </nav>
</header>